    .btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    text-align: center;
  }
  
  .btn-start {
    background-color: #5cb85c;
  }
  
  .btn-stop {
    background-color: #d9534f;
  }

  .btn-reset {
    background-color: rgb(112, 105, 105);
  }